In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
data = pd.read_csv(Path('resources/house_clean_data.csv'))

In [3]:
data.head()

,Unnamed: 0,SalePrice,MSZoning,LotArea,Utilities,Neighborhood,BldgType,HouseStyle,OverallQual,YearBuilt,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,0,208500,RL,8450,AllPub,CollgCr,1Fam,2Story,7,2003,...,61,0,0,0,0,0,2,2008,WD,Normal
1,1,181500,RL,9600,AllPub,Veenker,1Fam,1Story,6,1976,...,0,0,0,0,0,0,5,2007,WD,Normal
2,2,223500,RL,11250,AllPub,CollgCr,1Fam,2Story,7,2001,...,42,0,0,0,0,0,9,2008,WD,Normal
3,3,140000,RL,9550,AllPub,Crawfor,1Fam,2Story,7,1915,...,35,272,0,0,0,0,2,2006,WD,Abnorml
4,4,250000,RL,14260,AllPub,NoRidge,1Fam,2Story,8,2000,...,84,0,0,0,0,0,12,2008,WD,Normal

In [4]:
data.shape

(1094, 46)

In [5]:
data1 = data.drop(['Unnamed: 0'], axis='columns')
data1.head()

,SalePrice,MSZoning,LotArea,Utilities,Neighborhood,BldgType,HouseStyle,OverallQual,YearBuilt,YearRemodAdd,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,208500,RL,8450,AllPub,CollgCr,1Fam,2Story,7,2003,2003,...,61,0,0,0,0,0,2,2008,WD,Normal
1,181500,RL,9600,AllPub,Veenker,1Fam,1Story,6,1976,1976,...,0,0,0,0,0,0,5,2007,WD,Normal
2,223500,RL,11250,AllPub,CollgCr,1Fam,2Story,7,2001,2002,...,42,0,0,0,0,0,9,2008,WD,Normal
3,140000,RL,9550,AllPub,Crawfor,1Fam,2Story,7,1915,1970,...,35,272,0,0,0,0,2,2006,WD,Abnorml
4,250000,RL,14260,AllPub,NoRidge,1Fam,2Story,8,2000,2000,...,84,0,0,0,0,0,12,2008,WD,Normal

In [6]:
## ENCODING 

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

X_train, X_test, y_train, y_test = train_test_split(data1.drop(columns="SalePrice"), data1.SalePrice, test_size=0.20, random_state=42)

enc = OneHotEncoder(handle_unknown='ignore')

enc.fit(X_train.select_dtypes('object'))
X_train_encoded = pd.concat([X_train.select_dtypes(exclude='object'),pd.DataFrame(enc.transform(X_train.select_dtypes('object')).toarray(),index=X_train.select_dtypes('object').index, columns=enc.get_feature_names().tolist())], axis =1)
X_test_encoded = pd.concat([X_test.select_dtypes(exclude='object'),pd.DataFrame(enc.transform(X_test.select_dtypes('object')).toarray(),index=X_test.select_dtypes('object').index, columns=enc.get_feature_names().tolist())], axis =1)

In [7]:
X_train_encoded

,LotArea,OverallQual,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFullBath,BsmtHalfBath,1stFlrSF,2ndFlrSF,LowQualFinSF,...,x21_ConLw,x21_New,x21_Oth,x21_WD,x22_Abnorml,x22_AdjLand,x22_Alloca,x22_Family,x22_Normal,x22_Partial
6,10084,8,2004,2005,1369,1,0,1694,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
789,11361,6,1976,1976,644,0,1,1523,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1049,7415,6,2004,2004,759,1,0,864,729,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
837,5400,5,1954,2000,415,0,0,833,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
661,8750,6,1998,1998,505,0,0,804,878,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,4280,5,1913,2002,365,0,0,694,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
466,7943,4,1961,1961,903,1,0,1029,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
121,31770,6,1960,1960,639,1,0,1656,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1044,12665,8,2005,2006,0,0,0,1133,1349,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
860,12000,7,1941,1950,275,0,0,860,704,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

### OneHotEncoder

Encode categorical features as a one-hot numeric array.

The input to this transformer should be an array-like of integers or strings, denoting the values taken on by categorical (discrete) features. The features are encoded using a one-hot (aka â€˜one-of-Kâ€™ or â€˜dummyâ€™) encoding scheme. This creates a binary column for each category and returns a sparse matrix or dense array (depending on the sparse parameter)

By default, the encoder derives the categories based on the unique values in each feature. Alternatively, you can also specify the categories manually.

This encoding is needed for feeding categorical data to many scikit-learn estimators, notably linear models and SVMs with the standard kernels.

In [8]:
## MODEL  RandomForestRegressor

from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(n_estimators=100, max_depth=None, min_samples_split=2, min_samples_leaf=1, random_state=42)
regr.fit(X_train_encoded, y_train)

RandomForestRegressor(random_state=42)

### Random Forest Regressor

A random forest is a meta estimator that fits a number of classifying decision trees on various sub-samples of the dataset and uses averaging to improve the predictive accuracy and control over-fitting. The sub-sample size is controlled with the max_samples parameter if bootstrap=True (default), otherwise the whole dataset is used to build each tree.

In [9]:
#regr = RandomForestRegressor(n_estimators=200, max_depth=10, min_samples_split=2, min_samples_leaf=2, random_state=42)
#regr.fit(X_train_encoded, y_train)

In [10]:
R2=regr.score(X_test_encoded, y_test)
R2

0.8890176236741194

In [11]:
# Adjusted R-Squared

from sklearn.metrics import r2_score
n=X_test_encoded.shape[0]
p=X_test_encoded.shape[1]

Adj_r2 = 1-(1-R2)*(n-1)/(n-p-1)

# n = number of observation, p = number of features

In [12]:
Adj_r2

0.5755410870343514

### Adjusted R square 

Adjusted R2 is a corrected goodness-of-fit (model accuracy) measure for linear models. It identifies the percentage of variance in the target field that is explained by the input or inputs.

R2 tends to optimistically estimate the fit of the linear regression. It always increases as the number of effects are included in the model. Adjusted R2 attempts to correct for this overestimation. Adjusted R2 might decrease if a specific effect does not improve the model.

In [13]:
#  Mean Absolute Error (MAE)

from sklearn.metrics import mean_absolute_error
mean_absolute_error(regr.predict(X_test_encoded), y_test)

19434.418767123287

### Mean Absolute Error (MAE)

With any machine learning project, it is essential to measure the performance of the model. What we need is a metric to quantify the prediction error in a way that is easily understandable to an audience without a strong technical background. For regression problems, the Mean Absolute Error (MAE) is just such a metric.

The mean absolute error is the average difference between the observations (true values) and model output (predictions). The sign of these differences is ignored so that cancellations between positive and negative values do not occur. If we didnâ€™t ignore the sign, the MAE calculated would likely be far lower than the true difference between model and data.  (https://insidelearningmachines.com/mean_absolute_error/)